body {
  background-color: #001c44;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#title-box-1 {
  color: white;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
}

#container-page-1 {
  height: 325px;
  background-color: #fff;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.title-1 {
  
  top: -20px;
 
}

.titles{
  position: relative;
  color: #001c44;
  font-weight: 800;
  font-size: 23px;
  text-align: center;
}

.title-2 {
 
  top: -40px;
  
}

#input-number {
  height: 20px;
  width: 120px;
  position: relative;
  bottom: 30px;
  text-align: center;
}

#input-number-salary {
  height: 20px;
  width: 120px;
  position: relative;
  bottom: 50px;
  text-align: center;
}
.input-button {
  height: 30px;
  color: #fff;
  background: #001c44;
  width: 120px;
  position: relative;
  bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  border-radius: 2px;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:20px;
  width:40%;
}

.fa-home {
  color: #fff;
  position: relative;
  right: -120px;


}

.fa-arrow-left{
  color:#fff;
  position: relative;
  left: -120px;

}


@media only screen and (max-width: 833px) {

  #title-box-1 h1{
    font-size:50px;
  }

  #container-page-1 {
    height: 340px;
    background-color: #fff;
    width: 87%;
  }

  .home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:20px;
  }
}